<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Blinds controller</h1>
    <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="autonomousToggle">
            <span class="slider"></span>
        </label>
        <span class="toggle-title">Autonomous Mode</span>
    </div>
    <div class="button-container">
        <button id="sendUpButton" class="generic-button">Raise Blinds</button>
        <button id="sendDownButton" class="generic-button">Lower Blinds</button>
        <button id="sendStopButton" class="stop-button">Stop</button>
    </div>
    <div id="mqttChartContainer">
        <canvas id="mqttChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='dashboardScript.js') }}"></script>
</body>
</html>
